html, body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: medium;
}
.f-brand {
  font-family: 'ADLaM Display', cursive;
}
a, .text-decoration-none {
  text-decoration: none;
  color: black;
}
.active {
  color: red;
}
.lh-32 {
  line-height: 32px;
}
.min-100vh {
  min-height: 100vh;
}
.login-form {
  min-width: 30vw;
}
.otp-box {
  width: 50px;
}
.cp {
  cursor: pointer;
}
.valid {
  color: green;
}
.bg-white { 
  background-color: white;
}

.explore-card {
  height: auto;
  min-height: 20rem;
  min-width: 15rem;
  padding: 1rem;
}
.explore-card > div {
  height: 15rem;
  overflow: hidden;
}
.explore-card > div > img {
  width: 100%;
  height: 15rem;
  object-fit: cover;

	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}
.explore-card > div > img:hover {
  width: 100%;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.sidebar {
  position: sticky;
  top: 0;
  height: 100%; /* Adjust the height as needed */
  z-index: 1; /* Ensure it appears above other content */
  overflow-y: auto;
}
