html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: medium;
}

.f-brand {
  font-family: 'ADLaM Display', cursive;
}

a,
.text-decoration-none {
  text-decoration: none;
  color: black;
}

.active {
  color: red;
}
.heart-fill {
  color: #fb3958;
}
.fill-black {
  color: #000000;
}

.lh-32 {
  line-height: 32px;
}

.min-100vh {
  min-height: 100vh;
}

.login-form {
  min-width: 30vw;
}

.otp-box {
  width: 50px;
}

.cp {
  cursor: pointer;
}

.valid {
  color: green;
}

.bg-white {
  background-color: white;
}

.bg-transparent {
  background-color: transparent;
}

/* ===== Card Start ===== */

.explore-card {
  height: auto;
  min-height: 20rem;
  min-width: 15rem;
  padding: 1rem;
}

.explore-card > div {
  height: 15rem;
  overflow: hidden;
  position: relative;
}

.explore-card-icons-div {
  position: absolute;
  bottom: -5rem;
  /* Start hidden below the container */
  left: 0;
  width: 100%;
  /* background-color: rgba(255, 255, 255, 0.8); */
  color: white;
  text-align: center;
  padding: 10px;
  transition: bottom 0.3s ease-in-out;
  /* Use a transition on the 'bottom' property */
}

.explore-card > div:hover .explore-card-icons-div {
  bottom: 0;
}

.explore-card > div:hover .explore-card-image {
  width: 100%;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.explore-card-image {
  width: 100%;
  height: 15rem;
  object-fit: cover;

  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.explore-icon {
  min-width: 2rem;
  aspect-ratio: 1 / 1;
  transition: transform 0.2s ease-in-out;
}

.explore-icon:hover {
  transform: scale(1.2);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.model-image {
  max-height: 70vh;
}

.model-image>img {
  max-height: inherit;
}

.heart-animation {
  animation: animate-heart 0.8s ease
}

@keyframes animate-heart {
  0% {
    transform: scale(0.5, 0.5);
  }
  40% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

/* ===== Card End ===== */

/* ===== Sidebar Start ===== */

.sidebar {
  position: sticky;
  top: 0;
  height: 100%;
  z-index: 1;
  overflow-y: auto;
}
.min-w-100 {
  min-width: 100%;
}

/* ===== Sidebar End ===== */

/* ===== Slider Start ===== */
.container-slider {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  position: relative;
  width: 200px;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
  position: absolute;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 5px;
}

.slider__track {
  background-color: #ced4da;
  width: 100%;
  z-index: 1;
}

.slider__range {
  background-color: #000000;
  z-index: 2;
}

.slider__left-value,
.slider__right-value {
  color: #000000;
  font-size: 12px;
  margin-top: 20px;
}

.slider__left-value {
  left: 6px;
}

.slider__right-value {
  right: -4px;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 200px;
  outline: none;
}

.thumb--zindex-3 {
  z-index: 3;
}

.thumb--zindex-4 {
  z-index: 4;
}

.thumb--zindex-5 {
  z-index: 5;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* ===== Slider End ===== */

/* ===== Filter Start ===== */

.color-filter {
  position: relative;
  max-height: 15rem;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}

.color-icon-bg {
  position: absolute;
  cursor: pointer;
}

.form-filter {
  max-height: 15rem;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}

/* ===== Filter End ===== */

/* ===== Scrollbar Start ===== */

.custom-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  border-radius: 1px;
  background-color: #f5f5f5;
  cursor: grabbing;
}

.custom-scroll::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #F5F5F5;
  cursor: grabbing;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
  background-color: #979797;
  cursor: grabbing;
}

/* ===== Scrollbar End ===== */

/* ===== profile Start ===== */

.profile-page {
  background-color: #fff;
  padding: 0 2rem;
  border: 1px solid #cccbcb;
  height: auto;
  min-height: 75vh;
}

.profile-item {
  font-size: 1.3rem;
  padding: 0.2rem;
}

.profile-img {
  object-fit: cover;
  width: 6rem;
  height: 6rem;
}

.history-table td {
  padding: 1rem 0;
}
.history-table th {
  padding: 0.8rem 0;
  border: none;
}

.navList {
  list-style-type: none;
  padding: 0;
}

.navList .nav-link {
  padding: 0.9rem 2rem;
  margin: 0 auto;
  cursor: pointer;
}

.navList .nav-link:hover {
  background-color: #d8e7ff;
}

/* ===== profile End ===== */

/* ===== Home Start ===== */

.home-carousel {
  width: 80rem;
  overflow: hidden;
  position: relative;
  margin: 2rem 0;
}

.carousel-image {
  height: auto;
  overflow: hidden;
  padding: 0 4rem;
}

.carousel-image img {
  min-height: 20rem;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.home-carousel .carousel-indicators {
  display: none;
}

.home-carousel .carousel-control-next,
.home-carousel .carousel-control-prev {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.274);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.home-card {
  width: 19rem;
  margin: 0 10px;
  height: 8rem;
  overflow: hidden;
}

.home-card:hover {
  cursor: pointer;
}

.home-card .card-image {
  object-fit:cover ;
  min-height: 8rem;
  max-height: 10rem;
  max-width: 100%;
}

.home-Products {
  padding: 1.6rem 1.2rem;
  border: 4px solid #aac0fc;
  border-radius: 3rem;
}

.product {
  overflow: hidden;
  width: 25rem;
  height: 20rem;
  margin: 0.2rem;
  border-radius: 3rem;
}

.product-img {
  object-fit: cover;
}

.product:hover .product-img {
  transform: scale(1.15);
  transition:0.5s;
  cursor: pointer;
}



@media only screen and (max-width: 992px){
  
  .product {
    width: 12rem;
    height: 10rem;
  }
  .home-card {
    height: 7rem;
    width: 20rem;
  }
  .home-card .card-body {
    margin: 0 0rem;
  }
}
@media only screen and (max-width: 575px) {
  .home-card {
    height: 15rem;
  }
  .home-card .card-body {
    margin: 0 1.2rem;
  }
  .product{
    width: 10rem;
    height: 8rem;
  }
}
/* ===== Home End ===== */

/* ===== Home Start ===== */

.home-carousel {
  width: 80rem;
  overflow: hidden;
  position: relative;
  margin: 2rem 0;
}

.carousel-image {
  height: auto;
  overflow: hidden;
  padding: 0 4rem;
}

.carousel-image img {
  min-height: 20rem;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.home-carousel .carousel-indicators {
  display: none;
}

.home-carousel .carousel-control-next,
.home-carousel .carousel-control-prev {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.274);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.home-card {
  width: 19rem;
  margin: 0 10px;
  height: 8rem;
  overflow: hidden;
}

.home-card:hover {
  cursor: pointer;
}

.home-card .card-image {
  object-fit:cover ;
  min-height: 8rem;
  max-height: 10rem;
  max-width: 100%;
}

.home-Products {
  padding: 1.6rem 1.2rem;
  border: 4px solid #aac0fc;
  border-radius: 3rem;
}

.product {
  overflow: hidden;
  width: 25rem;
  height: 20rem;
  margin: 0.2rem;
  border-radius: 3rem;
}

.product-img {
  object-fit: cover;
}

.product:hover .product-img {
  transform: scale(1.15);
  transition:0.5s;
  cursor: pointer;
}



@media only screen and (max-width: 992px){
  
  .product {
    width: 12rem;
    height: 10rem;
  }
  .home-card {
    height: 7rem;
    width: 20rem;
  }
  .home-card .card-body {
    margin: 0 0rem;
  }
}
@media only screen and (max-width: 575px) {
  .home-card {
    height: 15rem;
  }
  .home-card .card-body {
    margin: 0 1.2rem;
  }
  .product{
    width: 10rem;
    height: 8rem;
  }
}
/* ===== Home End ===== */


/* ===== Product Start ===== */

.product-top-bar {
  height: 4rem;
}
.product-top-bar-text {
  height: 100%;
  margin: auto;
}

.back-icon {
  width: 2rem;
  aspect-ratio: 1 / 1;
  transition: transform 0.2s ease-in-out;
}

.back-icon:hover {
  transform: scale(1.2);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.product-image {
  height: 70vh;
  overflow: scroll;
}
.product-image > img {
  height: inherit;
  object-fit: cover;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.zoom-row {
  position: relative;
}
.zoom-col {
  position: absolute;
  top: 0;
  right: 3rem;
}
.zoom-icon {
  width: 2rem;
  aspect-ratio: 1 / 1;
  transition: transform 0.2s ease-in-out;
}

.zoom-icon:hover {
  transform: scale(1.2);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.verified-tick {
  color: #1DA1F2;
}

/* ===== Product End ===== */